<%= form_with(model: @message, local: true) do |form| %>
  <div class="field">
    <%= form.label :receiver_email %>
    <%= form.text_field :receiver_email, placeholder: 'Enter receiver\'s email' %>
  </div>


  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control' %>

  <%= form.label :body %>
  <%= form.text_area :body, class: 'form-control' %>

  <%= form.submit 'Send', class: 'btn btn-primary' %>
<% end %>
