<div id="<%= dom_id profile %>">
  <p>
    <strong>Index:</strong>
    <%= profile.index %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= profile.surname %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= profile.mail %>
  </p>

</div>
